
/* Background */

body {
	background-image: url("../images/background2.jpg");
}

.marketing {
	background-color: white;
}


/* Navbar */

#nav-bar {
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-wrapper .container {
  padding-right: 0px;
  padding-left: 0px;

 }

.navbar-inverse .navbar-brand {
	color: red;
}

.social-media {
	margin-top: 5px;
	text-align: right;
}

.social-media img {
	width: 40px;
	margin-right: 5px;
	margin-left: 5px;
}

/* carousel */


#myCarousel {
	margin-bottom: 0px;
	margin-right: -15px;
	margin-left: -15px;
}
.carousel {
	margin-top: 70px;
	padding-left: 0;
	padding-right: 0;
}

.carousel-caption h1 {
	font-size: 34px;
}

.background img {
	height: 500px;
	width: 100%;
}

/* featurettes */

.row {
	padding-top: 50px;
	margin-right: 15px;
	margin-left: 15px;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  text-align: justify;
  font-size: 18px;
}

.featurette .featurette-heading {
	margin-top: 0px;
	margin-bottom: 20px;
}

hr.featurette-divider {
	margin-top: 30px;
	margin-bottom: 30px;
}


#featurette-footer {
	margin-bottom: 30px;
	margin-top: 30px;
}

.featurette-image {
	padding-top: 30px;
	padding-bottom: 30px;
}

.featurette-image img {
	margin-right: -30px;
}

.index-image {
	padding-top: 15px;
	padding-bottom: 9px;
	margin: 6px 0px;
	border-radius: 100px;
	background-color: #eee;
	box-shadow: 0 1px 1px #999;
}

#abcrc {
	margin-top: 0px;
	height: 50%;
	width: 50%;
}

#bcmb {
	height: 50%;
	width: 50%;
	padding-top: 10px;
}

#dabda {
	height: 50%;
	width: 50%;
}

/* Bottle Drive Page Background */

.background {
	margin: 70px -15px 0px -15px;
}


/* Bottle Drive Page Featurettes */

h2>a {
	color: #5a5a5a;
}

h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

.bottle-drive-divider {
	margin: 40px;
}

#step1 {
	width: 45%;
	padding-top: 0px;
	padding-bottom: 0px;
}

#step2 {
	width: 60%;
	padding-top: 0px;
	padding-bottom: 0px;

}

#step3 {
	width: 80%;
	padding-top: 0px;
	padding-bottom: 0px;
}

#step4 {
	width: 130%;
	padding-top: 120px;
	padding-bottom: 0px;
}

#step5 {
	width: 75%;
	padding-bottom: 0px;
	padding-top: 50px;
}


/* Contact Page */

.contact-form {
	border: 1px solid grey;
	border-radius: 10px;
	margin: 0px;
}

textarea.form-control {
	height: 120px;
}

form {
	padding-bottom: 20px;
}
/* footer */

.center {
	text-align: center;
}

.copyright {
	font-size: 12px;
	margin-top: 34px;
}

.back-to-top {
	margin-top: 34px;
}
